{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block body %}
<section>
			<h2>Tout Nos Produits</h2>
			<div
				class="articles">
				<!-- Insérez ici vos articles de tissus -->
				<article>
					<div class="content">

						<h3>Nappes</h3>
						<p>Belles nappes pour votre table</p></div>
					<div class="image">
					<img src="{{ asset('img/Nappes.jpg') }}" alt="Logo"></div>
				</article>
				<article>
					<div class="content">

						<h3>Serviettes</h3>
						<p>Jolie serviettes</p>
					</div>
					<div class="image"><img src="{{ asset('img/Serviettes.jpg') }}" alt="Logo"></div>
				</article>
				<article>
					<div class="content">
						<h3>Coussins</h3>
						<p>Sympathique coussins décoratifs</p>
					</div>
					<div class="image"><img src="{{ asset('img/Coussins.jpg') }}" alt="Logo"></div>
				</article>
				<article>
					<div class="content">

						<h3>Revêtement</h3>
						<p>Pour protéger vos canapés et autres</p>
					</div>
					<div class="image"><img src="{{ asset('img/revetements.jpg') }}" alt="Logo"></div>
				</article>
                	<article>
					<div class="content">

						<h3>Nappes</h3>
						<p>Belles nappes pour votre table</p></div>
					<div class="image">
					<img src="{{ asset('img/Nappes.jpg') }}" alt="Logo"></div>
				</article>
				<article>
					<div class="content">

						<h3>Serviettes</h3>
						<p>Jolie serviettes</p>
					</div>
					<div class="image"><img src="{{ asset('img/Serviettes.jpg') }}" alt="Logo"></div>
				</article>
				<article>
					<div class="content">
						<h3>Coussins</h3>
						<p>Sympathique coussins décoratifs</p>
					</div>
					<div class="image"><img src="{{ asset('img/Coussins.jpg') }}" alt="Logo"></div>
				</article>
				<article>
					<div class="content">

						<h3>Revêtement</h3>
						<p>Pour protéger vos canapés et autres</p>
					</div>
					<div class="image"><img src="{{ asset('img/revetements.jpg') }}" alt="Logo"></div>
				</article>
			</div>
		</section>
{% endblock %}
